.MuiStepper-root {
    padding: 24px 0px 24px 0px;
}

.no-border{
    border: none !important;
}

.connector{
    border: none;
}

.end{
    text-align: end;
}

.title-stepper{
    color: #49AE4B;
    font-weight: bold;
    font-family: 'Roboto';
}

.content-stepper{
    font-family: 'Roboto';
    color:#707070;
    font-size: 15px !important;
}

.MuiStepIcon-text{
    fill: white !important;
    font-weight: bolder;
}