.feature-title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 3rem;
  color: #49ae4b;
}

.image-feature {
  background-image: url(/images/features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.features-paper {
  padding: 10% 20% 10% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #edefee !important;
}

.feature-ul {
  padding-inline-start: 0px;
  font-family: "Roboto";
  font-size: 18px;
  margin-bottom: 27px;
  color: #707070;
}

.feature-ul > li {
  margin-bottom: 13px;
  color: #707070;
}

.features-padding {
  min-height: 50vh;
  padding-left: 0;
  padding-right: 0;
}
