/* navbar */
.navbar {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 1rem 1rem;
  background-color: white !important;
}
.navbar .nav-link:hover {
  color: white !important;
}
.navbar .sign-in {
  padding-right: 25px;
  padding-left: 25px;
}
/* footer */
.footer {
  background-color: #49ae4b;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer a:hover {
  color: white !important;
  text-decoration: none;
}
.footer i {
  margin-left: 10px;
}
/* login */
.login {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background: white;
}
.login .forget {
  color: black;
}
.login .forget:hover {
  color: #49ae4b;
  font-weight: bold;
}
.signup {
  margin-top: 20px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
  padding-top: 15px;
  padding-bottom: 3px;
  background: white;
}
.signup a {
  color: black;
}
.signup a:hover {
  color: #49ae4b;
  font-weight: bold;
}
.login-div {
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("./img/home.png");
  background-size: cover;
  height: 100%;
}

/* admin */
.admin .sidebar {
  padding-top: 60px;
  padding-bottom: 60px;
}
.admin .createjob {
  border-radius: 50px;
  font-weight: bold;
  margin-bottom: 60px;
}
.admin a {
  font-weight: bold;
  color: #707070;
}
.admin a:hover {
  font-weight: bold;
  color: #707070;
  text-decoration: none;
}

/* landing */
.landing {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("./img/home.png");
  background-size: cover;
  height: 100%;
}
.p-why {
  color: #707070;
}
.p-why:hover {
  color: #707070;
}
.greybg {
  background-color: #edefee;
}
.line5img {
  background-image: url("./img/features.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.container-fluid .contact {
  padding-left: 150px;
  padding-right: 150px;
}
