body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

.global-primary-button {
  background-color: #48af4a;
}

.global-primary-button:hover {
  background-color: #1c8024;
}

.global-primary-button-static {
  background-color: #48af4a;
}

.global-primary-button-static:hover {
  background-color: #1c8024;
}

.global-secondary-button {
  background-color: #48af4a;
  color: #ffffff;
}

.global-secondary-button:hover {
  background-color: #1c8024;
}

.global-success-button {
  background-color: #74ad5a;
  color: #ffffff;
}

.global-success-button:hover {
  background-color: #74ad5a;
}

.global-file-button {
  background-color: rgba(103, 58, 183, 1);
}

.global-file-button:hover {
  background-color: rgb(87, 12, 183);
}

.global-file-button-static {
  background-color: rgba(103, 58, 183, 1);
}

.global-horizontal-align-button {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (min-width: 768px) {
  .global-horizontal-align-button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

a {
  color: #ff5900;
}

a:hover {
  color: #c64b00;
}

h1 {
  font-size: 1.733em;
}

h2 {
  font-size: 1.333em;
}

h3 {
  font-size: 1.1em;
}

.global-active-tab {
  color: blue;
}

.global-active-tab > .nav-link {
  border: 1px solid;
  border-color: #dee2e6 #dee2e6 #fff;
}

.global-active-tab > .nav-link:hover {
  border: 1px solid;
  border-color: #dee2e6 #dee2e6 #fff;
}

.global-edit-icon {
  font-size: 20px;
}

.global-cursor-hover {
  cursor: pointer;
}

.global-primary-link {
  color: #ff5900;
}

.global-primary-link:hover {
  color: #c64b00;
}

.pagination {
  justify-content: center;
}

.global-nav-bar-links {
  color: #ffffff;
}

.global-nav-bar-links:hover {
  color: #48af4a;
  text-decoration: none;
}

.form-asterisk {
  color: red;
}

.header-title {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #49AE4B;
}