.job-summary-table-view-all-link-div {
  text-align: right;
  padding-right: 20px;
  padding-top: 0;
}

.job-summary-table-padding {
  padding-bottom: 30px;
}

.job-summary-table-padding .MuiTypography-h6 {
  color: #49ae4b;
  font-weight: bold !important;
  font-family: "Roboto" !important;
  font-size: 24px !important;
}

.red {
  color: red !important;
}

.table-share-button {
  border-color: #b1b1b1;
  color: #707070;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  z-index: 100;
  position: absolute;
  opacity: 0;
  background-color: white;
  right: 30px;
  border-radius: 8px;
}

.rows:hover .table-share-button {
  opacity: 1;
}

.table-share-button:hover {
  border-color: #49ae4b;
  color: #49ae4b;
}

@media only screen and (max-width: 800px) {
  /* Force table to not be like tables anymore */
  .responsive-table,
  .responsive-table thead,
  .responsive-table tbody,
  .responsive-table th,
  .responsive-table td,
  .responsive-table tr {
    display: block;
  }

  .responsive-table table {
    font-size: 12px;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive-table tr {
    border: 1px solid #ccc;
  }

  .responsive-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: right;
  }

  .responsive-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
    Label the data
    */
  .responsive-table td:before {
    content: attr(data-title);
  }
}

.job-summary-table-row {
  cursor: pointer;
}

.job-table-helper-text {
  font-size: 10px;
  font-family: Roboto;
  line-height: 2;
  color: #707070;
}

.job-table-text {
  font-size: 14px;
  font-family: Roboto;
  color: #707070;
}

.job-summary-header {
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-size: 24px;
  color: #49ae4b;
  font-weight: bolder;
}

/*Mobile Icons*/
.job-summary-icon-buttons {
  color: #49ae4b;
}
