.dialog-top{
    background-color: #49AE4B !important;
    padding: 5px 20px !important;
}

.info-modal-title{
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 18px;
    margin-bottom: 0px !important;
}

.info-modal-content{
    padding: 5px 50px !important;
}

.closeButton{
    color:white !important;
}

.info-modal-message{
    margin-top:20px;
    font-family: 'Roboto';
    color: #707070;
    font-size: 14px;
}

.info-button{
    font-family: 'Roboto';
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 10px 30px;
    border-radius: 8px;
}

.info-button-cancel:hover{
    background-color:  #fff !important;
    border: 2px solid #28a745;
    color: #28a745;
}

.info-button-cancel:active{
    background-color:  #fff !important;
    border: 2px solid #28a745;
    color: #28a745 !important;
}

.info-modal-bottom{
    padding: 5px 50px 20px 50px !important;
}