@media only screen and (min-width: 768px) {
  .jumbotron-main {
    background: url("/images/home.png") no-repeat center;
    background-size: cover;
    display: table;
    height: auto;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 90px;
    padding-right: 90px;
  }
}

.jumbotrontitle {
  color: white;
}

.paper-main {
  padding: 4vh 0 4vh 0;
}

.sub-title {
  font-family: "Roboto";
  font-size: 26px;
}

.title {
  font-family: "Helvetica";
  font-size: 48px;
}

.jumbotron-main-mobile {
  background: url(/images/home.png) no-repeat center;
  background-size: cover;
  height: 70vh;
  position: relative;
  margin-bottom: 0px !important;
}

.paper-main-mobile {
  padding: 4vh 0 4vh 0;
  background-color: #edefee !important;
}
