#sidebar-body {
  background-color: #f7f8f7;
  height: 100%;
  margin-right: -15px;
  margin-left: -15px;
  min-height: 80vh;
  padding: 60px 0 0 0;
}
.side-bar-create-job-button {
  background-color: #498e86 !important;
  color: white !important;
  font-family: "Roboto" !important;
  font-weight: bold !important;
  font-size: 15px !important;
  box-shadow: none !important;
  padding: 5px 35px !important;
  margin-bottom: 20px !important;
}

.side-bar-create-job-button:hover {
  background-color: #7ac4a7 !important;
}

.sidebar-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: #707070 !important;
  padding-left: 40px !important;
}

.sidebar-link:hover {
  text-decoration: none;
  cursor: pointer;
}
