@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.logo {
  width: 166px;
  height: 50px;
  cursor: pointer;
}

.font {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  padding: 1vh 2vw 1vh 2vw;
}

.navbar-brand {
  margin: 1vh 0px 1vh 3vw;
}

@media (max-width: 425px) {
  .logo {
    width: 116px;
    height: 35px;
  }
}
