#footer-div {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  #footer-div {
    margin-bottom: 0;
  }
}

.section-footer {
  background-color: #49ae4b !important;
  padding: 9vh 0px 5vh 0px;
}

.nav-link {
  color: white;
  font-family: "Roboto";
  padding: 3px 16px 3px 16px;
}

.nav-link:hover {
  color: white !important;
}

.title-footer {
  color: white !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.line-footer {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: white;
  height: 1px;
}

.nav-btm {
  padding-bottom: 6%;
}

.h6-footer {
  color: white;
}

.sicon {
  padding: 0px 10px 0px 10px;
}

.font-large {
  font-size: 24px;
}

.highlight:hover {
  cursor: pointer;
  transition: all 0.2s ease-in;
  transform: translate(0px, -8px);
}
