.status-finish {
  color: white;
}

.rc-steps-item-finish .rc-steps-item-icon {
  border-color: #49ae4b !important;
  background-color: #49ae4b !important;
}

.rc-steps-item-finish .rc-steps-item-tail:after {
  background-color: #b1b1b1 !important;
}

.rc-steps-item-process .rc-steps-item-icon {
  background-color: #49ae4b !important;
}

.rc-steps-item-process .rc-steps-item-icon {
  border-color: #49ae4b !important;
}

.rc-steps-vertical .rc-steps-item-wait .rc-steps-item-tail:after {
  background-color: white;
  background-image: linear-gradient(#707070 33%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 3px;
  background-repeat: repeat-y;
}

.rc-steps-vertical .rc-steps-item-process .rc-steps-item-tail:after {
  background-color: #b1b1b1 !important;
}
