.signup-title {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 1.5rem;
  color: #49AE4B;
}

.signup-subtitle{
  font-family: 'Roboto';
  font-size: 1rem;
}

.MuiButton-label{
  color: white;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.modal-foot-signup{
  background-color: #49AE4B;
  min-height: 8vh;
}

.closeButton {
  color: #707070;
}